.ul-gigantCarrousel,
.li-gigantCarrousel {
  list-style: none;
  white-space: nowrap;
}
.ul-gigantCarrousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.li-gigantCarrousel {
  flex: 0 0 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.li-gigantCarrousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

img {
  margin-top: -16px;
}



.main-container {
    width: 100%;
    max-width: 85vw;
    margin: 0 auto;
    height: auto;
  }
  .slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

.dots-container {
  display: flex;
  justify-content: center;
}

.dot-container-item {
  margin: 8px 3px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 10px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.container-images {
  width: 100%;
  height: 400px;
  overflow: hidden; /* Oculta la barra de scroll */
  border-radius: 10px;
  position: relative;
}

div.active {
  background: #ccc;
  width: 30px;
  height: 20px;
  border-radius: 50%;
}