.passwordContainer {
  position: relative;
  width: 100%;
}

.passwordContainer input {
  width: 100%;
  padding-right: 40px;
}

.eyeButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
}