.main-content {
    padding-top: 160px;
  }

  body {
  background: linear-gradient(135deg, rgb(110, 4, 0), rgb(61, 0, 0));
  background-size: 400% 400%;
  animation: gradientWaves 10s ease infinite;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}