.footer {
  background: #111;
  color: #fff;
  padding: 50px 20px 20px;
  margin-top: 60px;
}

.footerContent {
    max-width: 1200px;     
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 40px;
}

.footerSection {
  flex: 1;
  min-width: 250px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerSection h4 {
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
}

.footerSection p,
.footerSection a {
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
  line-height: 1.6;
}

.footerSection a:hover {
  color: #00f5a0;
}

.spanFooter {
  font-weight: 600;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #00f5a0;
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
  padding: 0;
}

.wrapper .icon {
  position: relative; 
  list-style: none;
  width: 45px;
  height: 45px;
  background: #1a1a1a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}


.wrapper .icon:hover {
  transform: translateY(-5px);
}

.wrapper .icon svg {
  color: white;
  transition: 0.3s ease;
}

.tooltip {
  position: absolute;
  top: 0;
  background: white;
  color: #111;
  font-size: 13px;
  padding: 6px 12px;
  border-radius: 8px;

  width: max-content;     
  max-width: 200px;
  white-space: nowrap;    

  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}


.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  pointer-events: auto;
}

.facebook:hover {
  background: #1877f2;
}

.twitter:hover {
  background: #1da1f2;
}

.instagram:hover {
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}

.footerBottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #222;
  padding-top: 15px;
  font-size: 13px;
  color: #777;
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
  }

  .wrapper {
    justify-content: flex-start;
  }
}
