* {
    max-width: 100%;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
  }
  
  .cards {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px 20px;
    border-radius: 20px;
  color: #fff;
      text-align: center;
    width: 300px;
    margin: 40px auto;
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: aliceblue;
  backdrop-filter: blur(10px);
  transition: transform 0.3s;
}


  
  .card:hover {
  transform: scale(1.02);
  border-color: var(--verde-claro);
}

  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 4rem;
    justify-items: center;
  }
  
  .cards button {
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: 600;
  }
  